<template>
  <v-app-bar class="bg-grey-darken-4">
    <v-img src="../LayoutMenu/image/logo.png" max-height="80" contain></v-img>
    <v-app-bar-title class="ml-2" style="font-size: 24px; font-weight: bold; color: white;">D-Coffee</v-app-bar-title>
    <!-- ... ส่วนอื่นๆ ... -->
    <template v-slot:append>
      <div class="pa-2">
        <!-- <v-icon>mdi-account-circle-outline</v-icon> -->
      </div>
    </template>
  </v-app-bar>
</template>
