<script setup lang="ts">
import CheckInCheckOutStatus from '@/components/CheckInCheckOutStatus.vue'
</script>

<template>
   <v-parallax src="public/PosGif/bg2.gif">
    <div class="d-flex flex-column fill-height justify-center align-center text-white">

      <h4 class="subheading">
        <CheckInCheckOutStatus></CheckInCheckOutStatus>
      </h4>
    </div>
  </v-parallax>
  
</template>
