<script setup lang="ts"></script>

<template>
    <v-parallax src="public/PosGif/bg2.gif">
    <div class="d-flex flex-column fill-height justify-center align-center text-white">
      <h4 class="subheading">
        รายละเอียดการเช็คสต๊อก!!!
      </h4>
    </div>
  </v-parallax>

</template>
