<script setup lang="ts">
import { ref, nextTick, computed } from 'vue'

import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'

import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue'
import MemberCard from './MemberCard.vue'
import ReceiptDialog from './ReceiptDialog.vue'

import { userReceiptStore } from '@/stores/receipt'
import { provide } from 'vue'
// import { count } from 'console';
import { inject } from 'vue'

const cashDialog = ref(false)
const prompayDialog = ref(false)
const creaditDialog = ref(false)
// provide('receiptDialog', cashDialog)
const receiptStore = userReceiptStore()

const totalAmount = computed(() => {
  return receiptStore.receiptItems.reduce((sum, item) => {
    return sum + item.unit * item.price
  }, 0)
})
const tels = inject('tel')
const cashes = ref(0)
const promp = ref(totalAmount)
const creadit = ref(totalAmount)
provide('cashes', cashes)
provide('promp', promp)
provide('creadit', creadit)

function resetMoney() {
  cashes.value = 0
}

const openReceiptDialog = () => {

  showReceipt()
  cashDialog.value = false
  // set promp = totalAmount
  // set cashes = totalAmount
  prompayDialog.value = false

  creaditDialog.value = false

  nextTick(() => {
    // string tels.value = ''
  })
}
const products1: Product[] = [
  {
    id: 1,
    name: 'Classic Espresso',
    price: 55.0,
    type: 1
  },
  {
    id: 2,
    name: 'Classic Americano',
    price: 65.0,
    type: 1
  },
  {
    id: 3,
    name: 'Classic Latte',
    price: 75.0,
    type: 1
  },
  {
    id: 4,
    name: 'Classic Mocha',
    price: 85.0,
    type: 1
  },
  {
    id: 5,
    name: 'Ice Espresso',
    price: 65.0,
    type: 1
  },
  {
    id: 6,
    name: 'Ice Americano',
    price: 75.0,
    type: 1
  },
  {
    id: 7,
    name: 'Ice Latte',
    price: 85.0,
    type: 1
  },
  {
    id: 8,
    name: 'Ice Mocha',
    price: 95.0,
    type: 1
  },
  {
    id: 9,
    name: 'Classic Matcha',
    price: 65.0,
    type: 1
  },
  {
    id: 10,
    name: 'Iced Vanilla Mocha',
    price: 105.0,
    type: 1
  },
  {
    id: 11,
    name: 'Vanilla Cream Latte',
    price: 95.0,
    type: 1
  },
  {
    id: 12,
    name: 'Caramel Latte',
    price: 95.0,
    type: 1
  }
]

const products2: Product[] = [
  {
    id: 13,
    name: 'Almond Croissant',
    price: 89.0,
    type: 2
  },
  {
    id: 14,
    name: 'Classic Croissant',
    price: 79.0,
    type: 2
  },
  {
    id: 15,
    name: 'Sourdough Bread',
    price: 89.0,
    type: 2
  },
  {
    id: 16,
    name: 'Chocolate Chip Cookies',
    price: 69.0,
    type: 2
  },
  {
    id: 17,
    name: 'Raspberry Palette Cake',
    price: 109.0,
    type: 2
  },
  {
    id: 18,
    name: 'Meow Pudding Set',
    price: 199.0,
    type: 2
  },
  {
    id: 19,
    name: 'Meow Sweet Set',
    price: 199.0,
    type: 2
  },
  {
    id: 20,
    name: 'Strawberry Pie',
    price: 109.0,
    type: 2
  },
  {
    id: 21,
    name: 'Chocolate Cake',
    price: 129.0,
    type: 2
  },
  {
    id: 22,
    name: 'Coffee Bear Cake',
    price: 129.0,
    type: 2
  },
  {
    id: 23,
    name: 'Strawberry Cheesecake',
    price: 129.0,
    type: 2
  },
  {
    id: 24,
    name: 'Macaron Heart',
    price: 109.0,
    type: 2
  }
]

const products3: Product[] = [
  {
    id: 25,
    name: 'Orange Soda',
    price: 55.0,
    type: 3
  },
  {
    id: 26,
    name: 'Lemon Soda',
    price: 55.0,
    type: 3
  },
  {
    id: 27,
    name: 'Yuzu Orange Juice',
    price: 85.0,
    type: 3
  },
  {
    id: 28,
    name: 'Blue Hawaii Soda',
    price: 55.0,
    type: 3
  },
  {
    id: 29,
    name: 'Mint Blend Tea',
    price: 65.0,
    type: 3
  },
  {
    id: 30,
    name: 'Lemon Tea',
    price: 55.0,
    type: 3
  },
  {
    id: 31,
    name: 'Chamomile Tea',
    price: 75.0,
    type: 3
  },
  {
    id: 32,
    name: 'Coke',
    price: 30.0,
    type: 3
  },
  {
    id: 33,
    name: 'Water',
    price: 25.0,
    type: 3
  },
  {
    id: 34,
    name: 'Lychee Soda',
    price: 55.0,
    type: 3
  },
  {
    id: 35,
    name: 'Watermelon Soda',
    price: 55.0,
    type: 3
  },
  {
    id: 36,
    name: 'Pomegranate Soda',
    price: 55.0,
    type: 3
  }
]

const tab = ref(1)
const selected = (p: Product) => {
  console.log('ProductView: ' + p)
  receiptStore.addReceiptItem(p)
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}
const showReceipt = function () {
  receiptStore.showReceiptDialog()
}
const divReceiptItems = ref<HTMLElement | null>(null)
</script>
<template>
  <v-parallax src="public/PosGif/bg2.gif">
    <div class="d-flex flex-column fill-height justify-center align-center text-white">
      <h1 class="text-h4 font-weight-thin mb-4"></h1>
      <h4 class="subheading">
        <v-container>
          <v-row>
            <!-- First Column -->
            <v-col cols="12" md="5">
              <v-sheet
                min-width="mx-auto"
                height="750"
                elevation="6"
                style="
                  border-radius: 26px;
                  overflow: hidden;
                  background-color: rgb(106, 111, 76);
                  opacity: 1;
                "
              >
                <v-tabs v-model="tab" color=#ede1d2 align-tabs="center">
                  <v-tab :value="1">COFFEES</v-tab>
                  <v-tab :value="2">DESSERTS</v-tab>
                  <v-tab :value="3">DRINKS</v-tab>
                </v-tabs>
                <v-window v-model="tab">
                  <v-window-item :value="1">
                    <ProductList :products="products1" @selectedProduct="selected"></ProductList>
                  </v-window-item>
                  <v-window-item :value="2">
                    <ProductList :products="products2" @selectedProduct="selected"></ProductList>
                  </v-window-item>
                  <v-window-item :value="3">
                    <ProductList :products="products3" @selectedProduct="selected"></ProductList>
                  </v-window-item>
                </v-window>
              </v-sheet>
            </v-col>

            <!-- Second Column -->
            <v-col cols="12" md="7">
              <!-- <v-sheet min-width="600" height="800" elevation="6" style="border-radius: 32px; overflow: hidden;"> -->
              <div ref="divReceiptItems" style="height: 300px; text-align: left">
                <v-sheet
                  height="350"
                  elevation="6"
                  class="text-left align-end"
                  style="
                    overflow-y: auto;
                    border-radius: 26px;
                    overflow: hidden;
                    background-color: rgb(106, 111, 76);
                    opacity: 1;
                  "
                >
                  <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
              </div>
              <br />
              <br />
              <br />
              <!-- <div ref="divReceiptItems" style="height: 100px;  text-align: left; overflow: auto;"> -->
              <v-sheet
                height="80px"
                elevation="6"
                class="text-right align-end"
                style="
                  border-radius: 26px;
                  overflow: hidden;
                  background-color: rgb(106, 111, 76);
                  opacity: 1;
                "
              >
                <MemberCard> </MemberCard>
              </v-sheet>
              <!-- </div> -->
              <br />
              <!-- <div ref="divReceiptItems" style="height: 150px;  text-align: left;"> -->
              <v-sheet
                min-width="300"
                max-width="700"
                height="120"
                elevation="6"
                style="
                  border-radius: 26px;
                  overflow: hidden;
                  background-color: rgb(106, 111, 76);
                  opacity: 1;
                "
              >
                <ReceiptCard></ReceiptCard>
              </v-sheet>
              <!-- </div> -->

              <div style="height: 30px">
                <!-- <p style="text-align: left; padding-left: 10px;">Payment Method:</p> -->
              </div>

              <div
                style="
                  display: flex;
                  background-color: rgb(106, 111, 76);
                  min-height: 100px;
                  padding-top: 20px;
                  border-radius: 26px;
                  opacity: 1;
                "
              >
                <!-- Cash!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                <div style="flex: 0.5"></div>
                <div style="flex: 1">
                  <v-row justify="start">
                    <v-dialog v-model="cashDialog" persistent width="300" height="300">
                      <template v-slot:activator="{ props }">
                        <v-btn color="#ede1d2" v-bind="props" width="80" height="80">
                          <v-row align="center" justify="center">
                            <v-icon style="font-size: 36px">mdi-cash</v-icon>
                          </v-row>
                          <!-- <v-row align="center" justify="center">
      <span style="text-align: center; font-size: 16px;">Cash</span>
    </v-row> -->
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title class="text-h5"> Cash </v-card-title>
                        <v-card-text
                          >Cash
                          <v-col cols="12">
                            <v-text-field
                              label="Money you want to pays"
                              required
                              v-model="cashes"
                            ></v-text-field>
                          </v-col>
                        </v-card-text>
                        <v-card-actions>
  <v-spacer></v-spacer>
  <v-btn color="red" variant="text" @click="resetMoney();cashDialog = false">
    Disagree
  </v-btn>
  <v-btn
  
    color="green-darken-1"
    variant="text"
    :disabled="cashes < totalAmount && cashes != ref().value"
    @click="openReceiptDialog"
  >
    Agree
  </v-btn>
</v-card-actions>

                      </v-card>
                    </v-dialog>
                  </v-row>
                </div>

                <!-- Prompay!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                <div style="flex: 1">
                  <v-row>
                    <v-dialog v-model="prompayDialog" persistent width="auto" height="auto">
                      <template v-slot:activator="{ props }">
                        <v-btn color="#ede1d2" v-bind="props" width="80" height="80">
                          <v-row align="center" justify="center">
                            <v-icon style="font-size: 36px">mdi-qrcode-scan</v-icon>
                          </v-row>
                          <!-- <v-row align="center" justify="center">
      <span style="text-align: center; font-size: 16px;">Cash</span>
    </v-row> -->
                        </v-btn>
                      </template>

                      <v-card>
                        <v-card-title class="text-h5"> Scan </v-card-title>
                        <v-img
                          class="mx-auto"
                          :src="`./payproduct/scan.jpg`"
                          width="90%"
                          height="100%"
                          contain
                        ></v-img>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="red"
                            variant="text"
                            @click="prompayDialog = false"
                          >
                            Disagree
                          </v-btn>
                          <v-btn
                            color="green-darken-1"
                            variant="text"
                            v-model="promp"
                            @click="openReceiptDialog"
                          >
                            Agree
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-row>
                </div>

                <!-- Credit!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                <div style="flex: 1">
                  <v-row>
                    <v-dialog v-model="creaditDialog" persistent width="auto" height="auto">
                      <template v-slot:activator="{ props }">
                        <v-btn color="#ede1d2" v-bind="props" width="80" height="80">
                          <v-row align="center" justify="center">
                            <v-icon style="font-size: 36px">mdi-credit-card</v-icon>
                          </v-row>
                          <!-- <v-row align="center" justify="center">
      <span style="text-align: center; font-size: 16px;">Cash</span>
    </v-row> -->
                        </v-btn>
                      </template>

                      <v-card>
                        <v-card-title class="text-h5"> Credit </v-card-title>
                        <v-img
                          class="mx-auto"
                          :src="`./payproduct/creadit.jpg`"
                          width="90%"
                          height="100%"
                          contain
                        ></v-img>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="red"
                            variant="text"
                            @click="creaditDialog = false"
                          >
                            Disagree
                          </v-btn>
                          <v-btn
                            color="green-darken-1"
                            variant="text"
                            v-model="creadit"
                            @click="openReceiptDialog"
                          >
                            Agree
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-row>
                </div>
              </div>
              <div></div>
              <!-- </v-sheet> -->
            </v-col>
          </v-row>
        </v-container>
      </h4>
      
    </div>
  </v-parallax>

  <ReceiptDialog
    v-if="( cashes >= totalAmount  ) || promp == totalAmount || creadit == totalAmount"
  ></ReceiptDialog>

</template>
<style scoped></style>
